# Ignore Python cache
__pycache__/
**/__pycache__/
*.pyc
*.pyo

# Ignore ESPHome build artifacts
build/
*.bin
*.elf
*.hex

# Ignore VSCode settings
.vscode/

# Ignore other common files
.DS_Store
Thumbs.db
